* {
    margin: 0;
    padding: 0;
}

body
{
    background-image: url(img/bg.png);
    background-repeat: repeat;
    background-size: cover;
    color: white;
    font-family: 'Lato', sans-serif;;
    font-size: 20px;
    cursor: default;
}

.container
{
    width: 100%;
}

.header
{
    width: 100%;
    
}

.logo
{
    padding: 20px;
    font-size: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 2px 2px 5px black;
    letter-spacing: 3px;
    animation: logoAnim 30s linear;
}

.nav
{
    width: 100%;
    background: rgb(15,221,233);
    background: linear-gradient(360deg, rgba(15,221,233,1) 0%, rgba(2,116,149,1) 1%, rgba(0,108,200,1) 99%, rgba(17,203,221,1) 100%, rgba(11,207,231,1) 100%);
    text-align: center;
    border-top: 2px solid rgb(2, 80, 148);
    border-bottom: 2px solid rgb(2, 80, 148);
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.67); 
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.67);
}

.tile
{
    width: 250px;
    height: 155px;
    float: left;
    transition: 0.2s all ease-in-out;
}

.fb:hover {
    background-color: #4668b3;
    cursor: pointer;
}

.yt:hover {
    background-color: #cf281c;
    cursor: pointer;
}

.tw:hover {
    background-color: #5b89ec;
    cursor: pointer;
}

.gp:hover {
    background-color: #d46e3f;
    cursor: pointer;
}

.socials
{
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.67); 
box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.67);
    width: 100%;
    text-align: center;
    background-color: #292929;
}

.socialdivs
{
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.footer
{
    text-align: center;
    background-color: #222222;
    padding: 30px;
    margin-bottom: -40px;
    
}


/*                  MENU                    */

ol
{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 20px;
    line-height: 200%;
    display: inline-flex;
    
}

ol a
{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0px 10px 0px;
}

ol > li
{
    float: left;
    width: 200px;
    transition: 0.2s all ease-in-out;
    text-shadow: 0px 0px 5px black;
}

ol > li:hover
{
    background-color: rgb(2, 80, 148);
}

ol > li:hover > a
{
    color: white;
}

ol > li > ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 0;
    display: none;
}

ol > li:hover > ul
{
    display: block;
}

ol > li > ul > li
{
    transition: 0.2s all ease-in-out;
    background-color: rgb(2, 80, 148);
    position: relative;
    z-index: 100;
    border-top: 1px solid rgb(4, 62, 112);

}

ol > li > ul > li:hover
{
    background-color: rgb(4, 62, 112); 
}

ol > li > ul > li:hover > a
{
    color: white;
}

/*                  MENU                    */


.content
{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: #333;    
    border: 5px solid #555555; 
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.67); 
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.67);
}


/*                  ARTICLE                 */

.article:first-child {
    margin-top: 0px;
}

.article {
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #222;
    background-color: rgb(41, 41, 41);
    margin-top: 50px;
}

.aTitle {
    text-align: left;
    padding: 10px 20px 10px 20px;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #222;
}

.subTitle {
    font-size: 32px;
    font-weight: 500;
}

.aContent {
    padding: 20px;
}

.pTitle {
    font-style: italic;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 50px;
}

.paragraph {
    text-indent: 50px;
    margin-bottom: 10px;
    padding: 0px 30px 0px 30px;
    font-size: 22px;
    word-wrap: normal;
    word-break: keep-all;
}

.paragraph img{
    align-items: right;
    text-align: right;
    justify-content: right;
    display: block;
    float: right;
    margin: 20px;
    border: 5px solid white;
    height: 320px;
    width: 320px;
}

.paragraph::first-letter {
    text-transform: uppercase;
}

.author {
    text-align: right;
    padding: 20px;
    font-size: 28px;
}

.name {
    font-style: italic;
    text-transform: uppercase;
    font-weight: 700;
}

.tags {
    width: 100%;
    background-color: #222;
    padding: 20px 0px 15px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tag {
    padding: 10px;
    background-color: #444;
    display: block;
    margin: 10px;
    font-style: italic;
    border-radius: 4px;
}

/*                  ARTICLE                 */


/*                  ANIMATIONS                  */

@keyframes logoAnim {

    0% { background: rgb(16, 188, 197); }
    10% { background-color: rgb(15,221,233); }
    20% { background: rgb(16, 188, 197); }
    30% { background-color: rgb(15,221,233); }
    40% { background: rgb(16, 188, 197); }
    50% { background-color: rgb(15,221,233); }
    70% { background-color: rgba(255, 255, 255, 0); }

}

/*                  ANIMATIONS                  */
